.image-carousel-container {
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  box-sizing: border-box;
  overflow: scroll;
  margin-top: 28px;
}

.image-carousel__image {
  min-width: 164px;
  height: 149px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}